<div class="wrapper">
  <div class="category-filter tw-mt-10">
    <div class="tw-container">
      <div class="tw-grid tw-grid-cols-12 tw-gap-4">
        <div
          class="tw-col-span-12 tw-mb-10 tw-text-4xl tw-font-bold tw-leading-4 tw-text-center"
        >
          Featured Products
        </div>
        <div class="tw-col-span-12 filter-btns tw-text-center">
          <button
            type="button"
            class="filter-btn tw-bg-none tw-uppercase tw-text-[#d3d3d3] tw-cursor-pointer tw-border-none tw-inline-flex tw-text-base tw-relative tw-transition-all tw-my-3 tw-mx-7 after:tw-absolute after:tw-top-[110%] after:tw-left-1/2 after:tw--translate-x-1/2 after:tw-h-[2px] after:tw-w-0 after:tw-bg-[#555] after:tw-transition-all hover:tw-text-[#555] after:hover:tw-w-full"
            id="all"
          >
            all
          </button>
          <button
            type="button"
            class="filter-btn tw-bg-none tw-uppercase tw-text-[#d3d3d3] tw-cursor-pointer tw-border-none tw-inline-flex tw-text-base tw-relative tw-transition-all tw-my-3 tw-mx-7 after:tw-absolute after:tw-top-[110%] after:tw-left-1/2 after:tw--translate-x-1/2 after:tw-h-[2px] after:tw-w-0 after:tw-bg-[#555] after:tw-transition-all hover:tw-text-[#555] after:hover:tw-w-full"
            id="new"
          >
            new
          </button>
          <button
            type="button"
            class="filter-btn tw-bg-none tw-uppercase tw-text-[#d3d3d3] tw-cursor-pointer tw-border-none tw-inline-flex tw-text-base tw-relative tw-transition-all tw-my-3 tw-mx-7 after:tw-absolute after:tw-top-[110%] after:tw-left-1/2 after:tw--translate-x-1/2 after:tw-h-[2px] after:tw-w-0 after:tw-bg-[#555] after:tw-transition-all hover:tw-text-[#555] after:hover:tw-w-full"
            id="best-seller"
          >
            best seller
          </button>
          <button
            type="button"
            class="filter-btn tw-bg-none tw-uppercase tw-text-[#d3d3d3] tw-cursor-pointer tw-border-none tw-inline-flex tw-text-base tw-relative tw-transition-all tw-my-3 tw-mx-7 after:tw-absolute after:tw-top-[110%] after:tw-left-1/2 after:tw--translate-x-1/2 after:tw-h-[2px] after:tw-w-0 after:tw-bg-[#555] after:tw-transition-all hover:tw-text-[#555] after:hover:tw-w-full"
            id="specials"
          >
            specials
          </button>
        </div>
        <div class="xs:tw-col-span-12 tw-col-span-3 filter-item tw-mt-10">
          <div
            class="item-img tw-relative tw-overflow-hidden after:tw-absolute after:tw-top-0 after:tw-left-0 tw-w-full tw-bg-[rgba(212,203,203,0.1)]"
          >
            <img
              src="assets/images/2.png"
              alt=""
              class="tw-w-full tw-block tw-transition-all"
            />
            <span
              class="discount tw-absolute tw-right-0 tw-top-3 tw-bg-[#95bf47] tw-z-10 tw-rounded-sm tw-text-white tw-text-xs tw-px-4 tw-py-1"
              >20%</span
            >
          </div>
          <div class="item-info tw-py-3">
            <p class="tw-font-semibold tw-text-base tw-mt-2">Cool Item Name</p>
            <div>
              <span class="old-price tw-text-tiny tw-font-bold tw-line-through"
                >$20.50</span
              >
              <span
                class="new-price tw-inline-block tw-ml-1 tw-font-semibold font-text-[#f53939]"
                >$16.70</span
              >
            </div>
            <a
              href="#"
              class="add-btn hover:tw-border-[#95bf47] hover:tw-bg-white hover:tw-text-[#95bf47] tw-inline-block tw-mt-5 tw-bg-[#95bf47] tw-text-white tw-px-5 tw-py-2 tw-rounded-sm tw-border-2 tw-border-[#95bf47] tw-transition-all"
              >Add to cart</a
            >
          </div>
        </div>
        <div class="xs:tw-col-span-12 tw-col-span-3 filter-item tw-mt-10">
          <div
            class="item-img tw-relative tw-overflow-hidden after:tw-absolute after:tw-top-0 after:tw-left-0 tw-w-full tw-bg-[rgba(212,203,203,0.1)]"
          >
            <img
              src="assets/images/3.jpg"
              alt=""
              class="tw-w-full tw-block tw-transition-all"
            />
            <span
              class="discount tw-absolute tw-right-0 tw-top-3 tw-bg-[#95bf47] tw-z-10 tw-rounded-sm tw-text-white tw-text-xs tw-px-4 tw-py-1"
              >20%</span
            >
          </div>
          <div class="item-info tw-py-3">
            <p class="tw-font-semibold tw-text-base tw-mt-2">Cool Item Name</p>
            <div>
              <span class="old-price tw-text-tiny tw-font-bold tw-line-through"
                >$20.50</span
              >
              <span
                class="new-price tw-inline-block tw-ml-1 tw-font-semibold font-text-[#f53939]"
                >$16.70</span
              >
            </div>
            <a
              href="#"
              class="add-btn hover:tw-border-[#95bf47] hover:tw-bg-white hover:tw-text-[#95bf47] tw-inline-block tw-mt-5 tw-bg-[#95bf47] tw-text-white tw-px-5 tw-py-2 tw-rounded-sm tw-border-2 tw-border-[#95bf47] tw-transition-all"
              >Add to cart</a
            >
          </div>
        </div>
        <div class="xs:tw-col-span-12 tw-col-span-3 filter-item tw-mt-10">
          <div
            class="item-img tw-relative tw-overflow-hidden after:tw-absolute after:tw-top-0 after:tw-left-0 tw-w-full tw-bg-[rgba(212,203,203,0.1)]"
          >
            <img
              src="assets/images/4.jpg"
              alt=""
              class="tw-w-full tw-block tw-transition-all"
            />
            <span
              class="discount tw-absolute tw-right-0 tw-top-3 tw-bg-[#95bf47] tw-z-10 tw-rounded-sm tw-text-white tw-text-xs tw-px-4 tw-py-1"
              >20%</span
            >
          </div>
          <div class="item-info tw-py-3">
            <p class="tw-font-semibold tw-text-base tw-mt-2">Cool Item Name</p>
            <div>
              <span class="old-price tw-text-tiny tw-font-bold tw-line-through"
                >$20.50</span
              >
              <span
                class="new-price tw-inline-block tw-ml-1 tw-font-semibold font-text-[#f53939]"
                >$16.70</span
              >
            </div>
            <a
              href="#"
              class="add-btn hover:tw-border-[#95bf47] hover:tw-bg-white hover:tw-text-[#95bf47] tw-inline-block tw-mt-5 tw-bg-[#95bf47] tw-text-white tw-px-5 tw-py-2 tw-rounded-sm tw-border-2 tw-border-[#95bf47] tw-transition-all"
              >Add to cart</a
            >
          </div>
        </div>
        <div class="xs:tw-col-span-12 tw-col-span-3 filter-item tw-mt-10">
          <div
            class="item-img tw-relative tw-overflow-hidden after:tw-absolute after:tw-top-0 after:tw-left-0 tw-w-full tw-bg-[rgba(212,203,203,0.1)]"
          >
            <img
              src="assets/images/6.jpg"
              alt=""
              class="tw-w-full tw-block tw-transition-all"
            />
            <span
              class="discount tw-absolute tw-right-0 tw-top-3 tw-bg-[#95bf47] tw-z-10 tw-rounded-sm tw-text-white tw-text-xs tw-px-4 tw-py-1"
              >20%</span
            >
          </div>
          <div class="item-info tw-py-3">
            <p class="tw-font-semibold tw-text-base tw-mt-2">Cool Item Name</p>
            <div>
              <span class="old-price tw-text-tiny tw-font-bold tw-line-through"
                >$20.50</span
              >
              <span
                class="new-price tw-inline-block tw-ml-1 tw-font-semibold font-text-[#f53939]"
                >$16.70</span
              >
            </div>
            <a
              href="#"
              class="add-btn hover:tw-border-[#95bf47] hover:tw-bg-white hover:tw-text-[#95bf47] tw-inline-block tw-mt-5 tw-bg-[#95bf47] tw-text-white tw-px-5 tw-py-2 tw-rounded-sm tw-border-2 tw-border-[#95bf47] tw-transition-all"
              >Add to cart</a
            >
          </div>
        </div>
        <div class="xs:tw-col-span-12 tw-col-span-3 filter-item tw-mt-10">
          <div
            class="item-img tw-relative tw-overflow-hidden after:tw-absolute after:tw-top-0 after:tw-left-0 tw-w-full tw-bg-[rgba(212,203,203,0.1)]"
          >
            <img
              src="assets/images/7.jpg"
              alt=""
              class="tw-w-full tw-block tw-transition-all"
            />
            <span
              class="discount tw-absolute tw-right-0 tw-top-3 tw-bg-[#95bf47] tw-z-10 tw-rounded-sm tw-text-white tw-text-xs tw-px-4 tw-py-1"
              >20%</span
            >
          </div>
          <div class="item-info tw-py-3">
            <p class="tw-font-semibold tw-text-base tw-mt-2">Cool Item Name</p>
            <div>
              <span class="old-price tw-text-tiny tw-font-bold tw-line-through"
                >$20.50</span
              >
              <span
                class="new-price tw-inline-block tw-ml-1 tw-font-semibold font-text-[#f53939]"
                >$16.70</span
              >
            </div>
            <a
              href="#"
              class="add-btn hover:tw-border-[#95bf47] hover:tw-bg-white hover:tw-text-[#95bf47] tw-inline-block tw-mt-5 tw-bg-[#95bf47] tw-text-white tw-px-5 tw-py-2 tw-rounded-sm tw-border-2 tw-border-[#95bf47] tw-transition-all"
              >Add to cart</a
            >
          </div>
        </div>
        <div class="xs:tw-col-span-12 tw-col-span-3 filter-item tw-mt-10">
          <div
            class="item-img tw-relative tw-overflow-hidden after:tw-absolute after:tw-top-0 after:tw-left-0 tw-w-full tw-bg-[rgba(212,203,203,0.1)]"
          >
            <img
              src="assets/images/8.jpg"
              alt=""
              class="tw-w-full tw-block tw-transition-all"
            />
            <span
              class="discount tw-absolute tw-right-0 tw-top-3 tw-bg-[#95bf47] tw-z-10 tw-rounded-sm tw-text-white tw-text-xs tw-px-4 tw-py-1"
              >20%</span
            >
          </div>
          <div class="item-info tw-py-3">
            <p class="tw-font-semibold tw-text-base tw-mt-2">Cool Item Name</p>
            <div>
              <span class="old-price tw-text-tiny tw-font-bold tw-line-through"
                >$20.50</span
              >
              <span
                class="new-price tw-inline-block tw-ml-1 tw-font-semibold font-text-[#f53939]"
                >$16.70</span
              >
            </div>
            <a
              href="#"
              class="add-btn hover:tw-border-[#95bf47] hover:tw-bg-white hover:tw-text-[#95bf47] tw-inline-block tw-mt-5 tw-bg-[#95bf47] tw-text-white tw-px-5 tw-py-2 tw-rounded-sm tw-border-2 tw-border-[#95bf47] tw-transition-all"
              >Add to cart</a
            >
          </div>
        </div>
        <div class="xs:tw-col-span-12 tw-col-span-3 filter-item tw-mt-10">
          <div
            class="item-img tw-relative tw-overflow-hidden after:tw-absolute after:tw-top-0 after:tw-left-0 tw-w-full tw-bg-[rgba(212,203,203,0.1)]"
          >
            <img
              src="assets/images/9.jpg"
              alt=""
              class="tw-w-full tw-block tw-transition-all"
            />
            <span
              class="discount tw-absolute tw-right-0 tw-top-3 tw-bg-[#95bf47] tw-z-10 tw-rounded-sm tw-text-white tw-text-xs tw-px-4 tw-py-1"
              >20%</span
            >
          </div>
          <div class="item-info tw-py-3">
            <p class="tw-font-semibold tw-text-base tw-mt-2">Cool Item Name</p>
            <div>
              <span class="old-price tw-text-tiny tw-font-bold tw-line-through"
                >$20.50</span
              >
              <span
                class="new-price tw-inline-block tw-ml-1 tw-font-semibold font-text-[#f53939]"
                >$16.70</span
              >
            </div>
            <a
              href="#"
              class="add-btn hover:tw-border-[#95bf47] hover:tw-bg-white hover:tw-text-[#95bf47] tw-inline-block tw-mt-5 tw-bg-[#95bf47] tw-text-white tw-px-5 tw-py-2 tw-rounded-sm tw-border-2 tw-border-[#95bf47] tw-transition-all"
              >Add to cart</a
            >
          </div>
        </div>
        <div class="xs:tw-col-span-12 tw-col-span-3 filter-item tw-mt-10">
          <div
            class="item-img tw-relative tw-overflow-hidden after:tw-absolute after:tw-top-0 after:tw-left-0 tw-w-full tw-bg-[rgba(212,203,203,0.1)]"
          >
            <img
              src="assets/images/10.jpg"
              alt=""
              class="tw-w-full tw-block tw-transition-all"
            />
            <span
              class="discount tw-absolute tw-right-0 tw-top-3 tw-bg-[#95bf47] tw-z-10 tw-rounded-sm tw-text-white tw-text-xs tw-px-4 tw-py-1"
              >20%</span
            >
          </div>
          <div class="item-info tw-py-3">
            <p class="tw-font-semibold tw-text-base tw-mt-2">Cool Item Name</p>
            <div>
              <span class="old-price tw-text-tiny tw-font-bold tw-line-through"
                >$20.50</span
              >
              <span
                class="new-price tw-inline-block tw-ml-1 tw-font-semibold font-text-[#f53939]"
                >$16.70</span
              >
            </div>
            <a
              href="#"
              class="add-btn hover:tw-border-[#95bf47] hover:tw-bg-white hover:tw-text-[#95bf47] tw-inline-block tw-mt-5 tw-bg-[#95bf47] tw-text-white tw-px-5 tw-py-2 tw-rounded-sm tw-border-2 tw-border-[#95bf47] tw-transition-all"
              >Add to cart</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
